* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: rgb(27, 24, 24);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: block;
  position: relative;
  max-width: 25em;
  background-color: rgb(247, 247, 247);
  border: 3px solid rgba(250, 128, 114, 0.781);
  text-decoration: none;
  margin: 1em;
  color: #222;
  transition: transform 0.1s;
  height: max-content;
}

.item:hover,
.item:focus {
  transform: translateX(-2px);
}

.item:hover p,
.item:focus p {
    background-color: rgb(253, 253, 253);
}

.item article > * {
  padding: 0 1rem;
}

.item h2 {
  line-height: 1.1;
  font-size: 1.2rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.item span {
  display: block;
  color: #555;
  font-size: 0.9rem;
  background-color: #9991;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #2221;
  border-top: 1px solid #2223;
}

.item p {
  line-height: 1.3;
  padding-bottom: 0.5em;
  background-color: transparent;
  transition: all .1s;
}
