<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>Militanthèque</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet"> {% set css %}
        {% include "assets/css/styles.css" %}
        {% endset %}
        <style>{{css | safe}}</style>
    </head>
    <body>
        {{ content | safe }}
        <section>
            {% for item in collections.items %}
                <a href="{{ item.data.lien }}" class="item">
                    <article>
                        <h2>{{ item.data.title }}</h2>
                        <span>{{ item.data.source }}</span>
                        <p>{{ item.data.content | safe }}</p>
                    </article>
                </a>
            {% endfor %}
        </section>
    </body>
</html>