---
title: Recherche
metaTitle: 'Recherche sur le site'
layout: layouts/base.njk
---


  <section class="search">
      <div class="container">
        <h1>Recherche</h1>
        <input autocomplete="off" type="search" id="search" placeholder="Chercher sur le site..." />

        <hr>

        <ul id="results">

        </ul>
      </div>
  </section>
<script defer type="text/javascript" src="/_includes/assets/js/search.js"></script>
